html { 
	box-sizing: border-box; 
}
*, *:before, *:after { 
	box-sizing: inherit; 
}

@media screen { /* Mobile first */

	/* Screen styles only - separate from print styles */
	
	html, body {
		font: 100%/1.5 'Open Sans', Corbel, 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
		height: 100%;
	}

	body {
		display: flex;
		flex-direction: column;
	}

	h1, h2, h3, h4, h5, h6, label {
		color: #0c1200;
		font-family: Nunito, Calibri, Verdana, Geneva, sans-serif;
		font-weight: 700;
		line-height: 1.1;
	}

	form input[type="text"], form input[type="email"], form textarea, form input[type="submit"] {
		font-family: 'Open Sans', Corbel, 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
		font-size: 1rem;
	}

	p, code, blockquote {  
		color: #17160a;
		margin: 0 0 1.5rem;
	}

	p {
		font-size: 1rem;
		line-height: 1.5;
	}

	p+p { 
		margin-top: -1.5rem; 
		text-indent: 2rem;
	}

	code,
	pre {
		font-family: 'Lucida Console', Monaco, monospace, serif;
		font-size: 1rem;
		line-height: 1;
	}

	blockquote {
		font-style: italic;
		line-height: 1.125;
	}

	blockquote:before {
		content: "\201C";
		display: inline-block;
		padding-right: .4rem;
	}


	h1 { font-size: 3rem;		line-height: 1;		margin-bottom: 2.0rem; 		}
	h2 { font-size: 2rem;		line-height: 1.1; 	margin-bottom: 1.33333rem;	}
	h3 { font-size: 1.5rem;		line-height: 1.1;	margin-bottom: 1.0rem; 		}
	h4 { font-size: 1.25rem;	line-height: 1.1;	margin-bottom: 0.83333rem; 	}
	h5 { font-size: 1.125rem;	line-height: 1.1; 	margin-bottom: 0.75rem; 	}
	h6 { font-size: 1rem;		line-height: 1.1;	margin-bottom: 0.66667rem	}

	a { 
		border: 1px solid transparent;
		text-decoration: none;
	}
	
	a:link {
		border-bottom: 1px solid blue;
		text-decoration: none;
	}

	a:visited {
		border-bottom: 1px solid purple;
	}

	a:hover {
		border-bottom: 1px solid transparent;
	}

	a:active { color: tomato; }
	a:focus, :focus { 
		border: 1px dotted tomato;
	 }

	strong { font-weight: bold; }
	em { font-style: italic; }
	sup { 
		font-size: 0.75rem; 
		position: relative;
		top: -2px; 
		vertical-align: top; 
	}

	hr {
		background: #0e0e0e;
		border: 0;
    height: 1px;
	 }

	/* Accessible Skip to Content */
	.skip-to-content {
		height:1px;
		left:-10000px;
		overflow:hidden;
		position:absolute;
		top:auto;
		width:1px;
	}

	.skip-to-content:focus {
		display: block;
		height: auto;
		left: 0;
		position:relative;
		text-align: center;
		top: 0;
		width: auto;
	}
	/* End Accessible Skip to Content */


	/* Main wrapper - contains all content except footer. Flexed to push footer to bottom in modern browsers */
	.main-wrapper {
		flex: 1 0 auto; 
		margin: 0; 
		padding: 0;
		width: 100%; 		
	}
	/* End main wrapper */


	

	/* Footer wrapper - contains footer content */
	.footer-wrapper {
		padding: 0.75rem;
		text-align: center;
	}

	.footer-wrapper p {
		line-height: 1;
		margin: 0; 
		padding: 0;
	}
	/* End footer wrapper */


}

@media only screen and (min-width: 480px) {
	
}

@media only screen and (min-width: 640px) {
	
}

@media only screen and (min-width: 768px) {
	
}

@media only screen and (min-width: 980px) {
	
}

@media only screen and (min-width: 1280px) {
	
}

@media only screen and (min-width: 1600px) {

}

@media only screen and (min-width: 1980px) {
    
}