html { 
	box-sizing: border-box; 
}
*, *:before, *:after { 
	box-sizing: inherit; 
}

@media screen { /* Mobile first */

	/* Screen styles only - separate from print styles */
	
	html, body {
		font: 100%/1.5 Montserrat, Corbel, 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
		height: 100%;
	}

	body {
		display: flex;
		flex-direction: column;
	}

	h1, h2, h3, h4, h5, h6, label {
		color: #0c1200;
		font-family: Montserrat, Calibri, Verdana, Geneva, sans-serif;
		font-weight: 900;
		line-height: 1.1;
	}

	form input[type="text"], form input[type="email"], form textarea, form input[type="submit"], button {
		font-family: Montserrat, Corbel, 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
		font-size: 1rem;
	}

	p, code, blockquote {  
		color: #17160a;
		margin: 0 0 3rem;
	}

	p {
		font-size: 1rem;
		line-height: 1.5;
	}

	p+p { 
		margin-top: -1.5rem; 
	}

	p:last-of-type {
		margin-bottom: 0;
	}

	code,
	pre {
		font-family: 'Lucida Console', Monaco, monospace, serif;
		font-size: 1rem;
		line-height: 1;
	}

	blockquote {
		font-style: italic;
		line-height: 1.125;
	}

	blockquote:before {
		content: "\201C";
		display: inline-block;
		padding-right: .4rem;
	}


	h1 { font-size: 2.000rem;	line-height: 1.0;	margin-bottom: 1.33333rem;	}
	h2 { font-size: 1.625rem;	line-height: 1.1; margin-bottom: 1.08333rem;	}
	h3 { font-size: 1.375rem;	line-height: 1.1;	margin-bottom: 0.91667rem;	}
	h4 { font-size: 1.125rem;	line-height: 1.1;	margin-bottom: 0.75000rem; 	}
	h5 { font-size: 1.125rem;	line-height: 1.1; margin-bottom: 0.75000rem;	}
	h6 { font-size: 1.000rem; line-height: 1.1; margin-bottom: 0.66667rem;	}

	a { 
		border: 1px solid transparent;
		text-decoration: none;
	}
	
	a:link {
		border-bottom: 1px solid blue;
		text-decoration: none;
	}

	a:visited {
		border-bottom: 1px solid purple;
	}

	a:hover {
		border-bottom: 1px solid transparent;
	}

	a:active { color: tomato; }
	a:focus, :focus { 
		border: 1px dotted tomato;
	 }

	strong { font-weight: bold; }
	em { font-style: italic; }
	sup { 
		font-size: 0.75rem; 
		position: relative;
		top: -2px; 
		vertical-align: top; 
	}

	hr {
		background: #0e0e0e;
		border: 0;
    height: 1px;
	 }

	 .title {
	 	margin: 0;
	 	text-transform: uppercase;
	 }

	/* Accessible Skip to Content */
	.skip-to-content {
		height:1px;
		left:-10000px;
		overflow:hidden;
		position:absolute;
		top:auto;
		width:1px;
	}

	.skip-to-content:focus {
		display: block;
		height: auto;
		left: 0;
		position:relative;
		text-align: center;
		top: 0;
		width: auto;
	}
	/* End Accessible Skip to Content */


	/* Main wrapper - contains all content except footer. Flexed to push footer to bottom in modern browsers */
	.main-wrapper {
		display: flex;
		flex: 1 0 auto;
		flex-direction: column;
		margin: 0; 
		padding: 0;
		width: 100%; 		
	}
	/* End main wrapper */

	/* Video Background */
	.vid-wrapper {
		bottom: 0;
		left: 0;
		overflow: hidden;
		position: fixed;
		right: 0;
		top: 0;
		z-index: -100;
	}

	.fullscreen-bg__video {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	@media (min-aspect-ratio: 16/9) {
	  .fullscreen-bg__video {
	  	height: auto;
	  	width: 100%;
	  }
	}

	@media (max-aspect-ratio: 16/9) {
	  .fullscreen-bg__video {
	    height: 100%;
	    width: auto;
	  }
	}

	/* Header Wrapper */
	.header-wrapper {
		background: rgb(255,255,255);
		background: rgba(255,255,255,0.33);
		margin-bottom: 1rem;
		padding: 1rem;
	}	

	.header-wrapper header {
		margin: 0 auto;
		max-width: 960px;
		padding: 1rem;
		text-align: center;
	}

	/* Content Wrapper */
	.content-wrapper {
		flex: 1 0 auto; 
		padding: 1rem;
	}

	.content-panel, .two-col {
		background: rgb(255,255,255);
		background: rgba(255,255,255,0.67);
		margin: 0 auto;
		max-width: 960px;
		padding: 1rem;
	}

	.two-col .col {
		display: block;
	}

	.one-third {
		display: inline-block;
		margin-right: 3%;
		padding: 1rem;
		text-align: center;
		width: 30%;
	}

	.one-third.last {
		margin-right: 0;
	}

	.full {
		font-size: 5rem;
		line-height: 1;
		padding: 1rem;
		text-align: center;
	}

	.large-text {
		font-size: 3rem;
		margin: 0;
	}

	.text-center {
		text-align: center;
	}

	.content-panel button {
		display: block;
		padding: 1rem;
		width: 100%;
	}

	.thumbnail img {
		display: block;
		height: auto;
		margin: 0 auto;
		max-width: 640px;
		width: 100%;
	}

	.thumbnail {
		margin-bottom: 0.66667rem;
	}

	.correct { color: #0a0; }
	.incorrect { color: #c00; }
	.stumped { color: #00c; }

	.button-group button {
		margin-bottom: 0.66667rem;
	}

	.button-group button:last-of-type {
		margin-bottom: 0;
	}

	/* Footer wrapper - contains footer content */
	.footer-wrapper {
		background: rgb(255,255,255);
		background: rgba(255,255,255,0.33);
		padding: 1rem;
		text-align: center;
	}

	.footer-wrapper p {
		line-height: 1;
		margin: 0; 
		padding: 0;
	}
	/* End footer wrapper */


}

@media only screen and (min-width: 480px) {
	.two-col .col {
		display: inline-block;
		vertical-align: middle;
		width: 49%;
	}
}

@media only screen and (min-width: 640px) {
	h1 { font-size: 2.500rem;	line-height: 1.0;	margin-bottom: 1.66667rem;	}
	h2 { font-size: 2.000rem;	line-height: 1.1; margin-bottom: 1.33333rem;	}
	h3 { font-size: 1.500rem;	line-height: 1.1;	margin-bottom: 1.00000rem;	}
}

@media only screen and (min-width: 768px) {
	
}

@media only screen and (min-width: 980px) {
	
}

@media only screen and (min-width: 1280px) {
	h1 { font-size: 3.000rem;	line-height: 1.0;	margin-bottom: 2.00000rem;	}
	h2 { font-size: 2.250rem;	line-height: 1.1; margin-bottom: 1.50000rem;	}
	h3 { font-size: 1.750rem;	line-height: 1.1;	margin-bottom: 1.16667rem;	}
}

@media only screen and (min-width: 1600px) {

}

@media only screen and (min-width: 1980px) {
    
}